.header {
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 150px;
  display: flex;
  gap: 20px;
}

.label {
  color: #8a8a89;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}



.button {
  width: 136px;
  height: 48px;
  border-radius: 12px;
  cursor: pointer;
  padding: 14px, 44px, 14px, 44px;
  background-color: #3470ff;
  color: #FFFFFF;
  border: none;
  margin-top: 18px;
}

.brandSelect {
  width: 224px;
  height: 48px;
  border-radius: 14px;
  padding: 14px, 89px, 14px, 18px;
  background-color: #f7f7fb;
  border: none;
  padding-left: 10px;
}

.priceSelect {
  width: 125px;
  height: 48px;
  border-radius: 14px;
  padding: 14px, 18px, 14px, 18px;
  background-color: #f7f7fb;
  border: none;
  padding-left: 10px;
}
.fromInput {
  width: 160px;
  height: 48px;
  border-radius: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f7f7fb;
  border: none;
  border-right: 1px solid #8a8a8933;
  padding-left: 10px;
  
}

.toInput {
  width: 160px;
  height: 48px;
  border-radius: 14px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f7f7fb;
  border: none;
  border-left: 1px solid #8a8a8933;
  padding-left: 10px;
}

.inputContainer {
  display: flex;
}